/* Стилизация аккордеона */
.accordion__item {
    font-family: 'Robto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    max-width: 730px;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    padding: 24px 32px;
    margin-bottom: 8px;
}

.accordion__summary {
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.accordion__img--active {
    transform: rotate(180deg);
}

.accordion__text {
    color: #495057;
    margin-top: 16px;
    margin-bottom: 8px;
}