/* Стилизация аккордеона */
.page {
    max-width: 730px;
    margin: 0 auto;
}

.details {
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 8px;
}

.details__summary {
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.details__img--active {
    transform: rotate(180deg);
}

.details__text {
    color: #495057;
}