@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
**::after,
**::before {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    color: #212429;
    line-height: 24px;

}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    background-color: #f9fafc;
}

.container {
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
}

.header_title {
    padding-top: 96px;
    margin-top: 0;
    margin-bottom: 77px;
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
}

.footer {
    text-align: center;
}

.footer_inner {
    max-width: 640px;
    margin: 0 auto;
    padding-top: 71px;
    margin-bottom: 136px;
}

.footer_title {
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 32px;
}

.footer_text {
    font-size: 16px;
    margin: 0;
}