.footer {
    text-align: center;
}

.footer__inner {
    max-width: 640px;
    margin: 0 auto;
    padding-top: 71px;
    margin-bottom: 136px;
}

.footer__title {
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 32px;
}

.footer__text {
    font-size: 16px;
    margin: 0;
}