.histogram {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 0px 24px 24px 20px;
    width: 73%;
    margin-top: auto;
}

.histogram__top {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.histogram__title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 6px;
    opacity: 0.8;
}

.histogram__link {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: var(--blue);
}

.histogram__num {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 26px;
    display: block;
    margin-bottom: 27px;
}

.histogram__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    transform: rotate(180deg);
}

.histogram__power {
    display: block;
    width: 7px;
    height: 40px;
    background-color: var(--blue);
    margin-right: 1px;
}

.histogram__power:last-child {
    margin-right: 0;
}